.config{
    width: 1131px;
    height: 591px;
    top: 177px;
    left: 274px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    background: #F6F6F8;


}

.config h1{
    font-family: Sora;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    padding: 11px 0;
}

/* .configTab{
    display: flex;
    justify-content: center;
} */

.setUser{
    
   



}
.userIcon{
    display: flex;
    justify-content: start;
    align-items: center;
     margin: 27.8px 13.6px;
     /* width: 427px;
    height: 82px; */
    width: Fixed (427px)px;
    height: Hug (81px)px;
    top: 339px;
    left: 410px;
    padding: 24px 34px 24px 34px;
    gap: 20px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    box-shadow: 0px 1px 3px 0px #00000040;
    background: #FFFFFF;

    

}

.userIcon img{
    width: 17.5px;
    height: 21.5px;
    gap: 0px;
    opacity: 0px;
    padding: 29.75px 3.4px;

}
.userIcon p{
    width: 158px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left;
    padding: 24px 11.6px;


}

.content{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 427px;
    height: 82px;
    top: 339px;
    left: 858px;
    padding: 24px 232px 25px 34px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    box-shadow: 0px 1px 3px 0px #00000040;
    background: #FFFFFF;



}
.content p{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left;
    width: 100px;
    height: 33px;
    top: 24px;
    left: 95px;
    gap: 0px;
    opacity: 0px;
    padding: 24px 9.6px;


   
}

.img2 img{
    width: 37.52px;
    height: 17px;
    top: 33px;
    left: 34px;
    gap: 0px;
    opacity: 0px;
    
}

.presetContainer{
    display: flex;
    justify-content: center;
}

.preset{
    width: 427px;
    height: 82px;
    top: 455px;
    left: 410px;
    padding: 25px 298px 24px 57px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #00000040;
    margin: 27.8px 13.6px;




}

.preset p{
    font-family: Open Sans;
font-size: 24px;
font-weight: 400;
line-height: 32.68px;
text-align: left;
width: 72px;
height: 33px;
top: 25px;
left: 57px;
gap: 0px;
opacity: 0px;

}