.resources{
    background: #F6F6F8;
    height: 100%;
   

}

.page{
    width: Hug (206px)px;
    height: Hug (22px)px;
    top: 134px;
    left: 303px;
    gap: 8px;
    opacity: 0px;

}
.page span{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #4B4E61;
   
   

}
.page span img{
    width: 20px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    padding: 1px;

}

.resTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.resText{
    text-transform: capitalize;
    font-family: Sora;
    font-size: 20px;
    font-weight: 600;


    

}

.btnContainer{
    display: flex;
    gap: 20px;
    padding: 10px;
    
    /* margin: 5px; */

}


/* styles for the button with a white background */
.resourceBtn button {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 194px;
    height: 46px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 0;
    outline: 0;
    padding: 0 10px; 
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.resourceBtn img {
    width: 20px;
    height: 20px;
    padding-left: 8px; 
}

/* styles for the blue button */
.add button{
    width: 194px;
    height: 46px;
    border-radius: 8px;
    background: #2E3192;
    color: #FFFFFF;
    text-transform: capitalize;
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    



}


.upload img{
    padding: 0 62.6px 0 69.73px ;
}

.upload p{
    font-family: Sora;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    text-align: justified;
    /* width: 266px;
    height: 26px;
    top: 380px;
    left: 395px;
    gap: 0px;
    opacity: 0px; */
    color: #5C5C5C;
   


}

@media(max-width: 576px) {
    .resTitle{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btnContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}