/* .title{
    width: 1131px;
    height: 161px;
    top: 127px;
    left: 274px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;

} */
.title h1{
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;

}
.title p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

}
.boxContainer{
    /* width: 665.1px;
    height: 796.42px;
    top: 334px;
    left: 485px;
    gap: 0px;
    opacity: 0px;
    background: #E6F4F9;

     */
}
.firstRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    /* width: 665.1px;
    height: 518.74px;
    top: 334px;
    left: 485px;
    gap: 0px;
    opacity: 0px; */

}
.first{
    width: 315.23px;
    height: 247.68px;
    gap: 0px;
    border-radius: 13.86px 0px 0px 0px;
    opacity: 0px;
     background: #E7E6F9;
    

}

/* .image{
    width: 86.6px;
    height: 86.6px;
    top: 25.98px;
    left: 114.31px;
    gap: 0px;
    opacity: 0px;

} */

.res{
    font-family: Open Sans;
    font-size: 20.78px;
    font-weight: 600;
    line-height: 49.92px;
    text-align: center;

}

.second{
    width: 315.23px;
height: 247.68px;
left: 350.23px;
gap: 0px;
border-radius: 13.86px 0px 0px 0px;
opacity: 0px;
background: #F4E6EA;

}

.third{
    background: #E3EDF6;
    width: 315.23px;
height: 247.68px;
top: 277.68px;
gap: 0px;
border-radius: 13.86px 0px 0px 0px;
opacity: 0px;


}

.side{
    width: 39.19px;
height: 39.19px;
top: 192.26px;
left: 259.8px;
gap: 0px;
opacity: 0px;
/* background: #8A8A8A; */


}
.fourth{
    background: #F7EDDB;
    width: 315.23px;
    height: 247.68px;
    gap: 0px;
    border-radius: 13.86px 0px 0px 0px;
    opacity: 0px;
    /* border: 4.91px solid #FFFFFF */  

}
.fifth{
    width: 315.23px;
    height: 247.68px;
    gap: 0px;
    border-radius: 13.86px 0px 0px 0px;
    opacity: 0px;
    background: #E6F4F9;

}

/* .first p{
    font-family: Sora;
font-size: 41.57px;
font-weight: 600;
line-height: 49.92px;
text-align: left;

} */