.container{
    /* width: 100%; */
    height:100% ;
    /* border: 3px solid yellowgreen; */
}
.title h1{
    font-family: Sora;
    font-size: 40px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;

}
.title p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

}


.firstRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* gap: 10px; */
   

}
.first{
    width: 315.23px;

    height: 247.68px;
    padding: 10px 5px;
    margin: 15px 25px;

    /* gap: 0px; */
    border-radius: 13.86px;
    /* opacity: 0px; */
     background: #E7E6F9;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
    

}

/* .image{
    width: 86.6px;
    height: 86.6px;
    top: 25.98px;
    left: 114.31px;
    gap: 0px;
    opacity: 0px;

} */

.res{
    font-family: Open Sans;
    font-size: 20.78px;
    font-weight: 600;
    /* line-height: 49.92px; */
    text-align: center;
    


}

.imagePrice{
    font-family: Sora;
    font-size: 41.57px;
    font-weight: 600;
    /* line-height: 49.92px; */
    /* text-align: left; */

}

.second{
    width: 315.23px;
    height: 247.68px;
    padding: 10px 5px;
    /* padding: 10px 5px; */
    margin: 15px 25px;

/* left: 350.23px;
gap: 0px; */
border-radius: 13.86px 0px 0px 0px;
/* opacity: 0px; */
background: #F4E6EA;
position: relative;

}

.third{
    background: #E3EDF6;
    width: 315.23px;
height: 247.68px;
padding: 10px 5px;
margin: 15px;

/* top: 277.68px;
gap: 0px; */
border-radius: 13.86px 0px 0px 0px;
position: relative;
/* opacity: 0px; */


}

.side{
    /* width: 39.19px;
    height: 39.19px; */
   /* display: flex;
   justify-content: end;
   align-items: end; */
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 5px;


/* background: #8A8A8A; */


}
.fourth{
    background: #F7EDDB;
    width: 315.23px;
    height: 247.68px;
    padding: 10px 5px;
    margin: 15px;

    /* gap: 0px; */
    border-radius: 13.86px 0px 0px 0px;
    position: relative;
    /* opacity: 0px; */
    /* border: 4.91px solid #FFFFFF */  

}

.additionalImage img {
    position: absolute;
    top: 35px; /* Adjust the top positioning */
    left: 44%; /* Adjust the left positioning */
    width: 40px; /* Adjust image size */
    z-index: 2; /* Ensure it appears on top */
}

.fifth{
    width: 315.23px;
    height: 247.68px;
    gap: 0px;
    border-radius: 13.86px 0px 0px 0px;
    opacity: 0px;
    background: #E6F4F9;
    padding: 10px 5px;
    margin: 15px;
    position: relative;

}

.sideArrow{
    /* display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px; */
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

@media(max-width: 576px) {
    .boxContainer{
        margin: auto;
     
     }
     
    .firstRow{
        display: flex;
        flex-wrap: wrap;
    }
    
}

/* .first p{
    font-family: Sora;
font-size: 41.57px;
font-weight: 600;
line-height: 49.92px;
text-align: left;

} */